PORT=4000
CORS_ORIGINS=https://teamupolobdhi.vercel.app
MONGODB_URI=mongodb+srv://kihobe45_db_user:<db_password>@cluster0.sssabcc.mongodb.net/upolobdhi_reviews?retryWrites=true&w=majority&appName=Cluster0
